@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




header{
  height: 10px;
}

body{
  margin-top: 60px;
  padding-bottom: 40px;
}

#logo{
  float: left;
  padding-top: 10px;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

.center{
  text-align: center;
}

footer{
  margin-top: 20px;
  border-top: 1px solid;
}

footer small{

  float: left;
  padding-left: 20px;
}


footer ul{
  float: right;
}

li{
  list-style: none;
  padding-right: 20px;
}

/* footer */

small{
  color: white;
}


/* debug */

.debug_dump{
  clear: both;
  float:left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color: red;
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: red;
  }
}
