<footer class="footer navbar navbr-fixed-bottom navbar-inverse">
  <small>
  The Ruby on Rails Tutorial
  </small>

  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
